- if @playings.present?
  #doing_title.row
    %h2.status
      = ruffimage 24939
  #doing.row
- if @chattings.present?
  #chatting_title.row
    %h2.status
      = ruffimage 24938
  #chatting.row

- if current_user.nothing?
  = render 'shared/done'  
  = render 'shared/you'
  #ranking_title.row
    %h2.status
      = ruffimage 24940

