.workload.col-sm-2{style: "min-height: 180px;", class: get_offset(is_first, item_count)}
  .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
    %h5=workload.title
    %span
      = link_to_if workload.music_id, image_tag(workload.music_icon, class: 'jacket'), "/musics/#{workload.music_id}"
        
    %span
      = link_to_if workload.user_id, image_tag(workload.icon, class: 'icon img-thumbnail'), "/#{workload.user_id}"
    .disp=timestamp(workload)
    - if current_user
      %div
        - if !workload.number && workload.user_id == current_user.id
          = link_to '集中を再開', "/workloads/#{workload.id}"
        - if workload.number && workload.chatting? && workload.user_id == current_user.id
          - unless params[:controller] == 'rooms'
            = link_to 'チャットを再開', "/rooms/0"
        - else
          - m = workload.music_id ? "?music_id=#{workload.music_id}" : ''
          = link_to start_button(workload), "/workloads/new#{m}", class: 'fixed_start'
