#header
  %div{:style => "background: #231809; width: 100%;"}
    %img{:src => "https://ruffnote.com/attachments/24932"}/
  %br/

%br
- if @resume_minutes
  = link_to "24分集中を再開する（あと#{@resume_minutes}分）", workload_path(current_user.workload)
%br
= "利用者数：#{User.count}人"
%br
= "コメント数：#{Comment.count}件"
%br
= "曲数：#{Music.count}曲"
%br
= "達成ポモドーロ数：#{Workload.where(status: 1).count}回（#{(Workload.where(status: 1).count * 0.5).to_i}時間, #{(Workload.where(status: 1).count * 0.5 / (8*20)).to_i}人月）"
%br
= "1人月100万円として#{(Workload.where(status: 1).count * 0.5 / (8*20)).to_i}00万円分が245cloudで生み出されていることになります"
%br
= "平均達成ポモドーロ数：#{(Workload.where(status: 1).count/User.count).to_i}回（#{(((Workload.where(status: 1).count/User.count).to_i)*0.5).to_i}時間）"

#login
  - if session[:user_id]
    - label = 'ログアウト'
    - label += "(user_id: #{session[:user_id]})" if Rails.env.development?
    = link_to label, '/logout'
  - else
    = link_to 'ログイン', '/auth/facebook'

#news.row
  %a{:href => "#whatis"} 245cloudとは？（はじめての方はこちら
  %br/
#start_buttons.row
  #random.col-sm-2.col-sm-offset-4
    %h5 おまかせ
    %img.jacket{:src => "https://ruffnote.com/attachments/24982"}/
    %a{href: '/musics/random'}
      %img#start.btn{:onmouseout => "this.src='https://ruffnote.com/attachments/24919'", :onmouseover => "this.src='https://ruffnote.com/attachments/24920'", :src => "https://ruffnote.com/attachments/24919", :style => "border: none;", :type => "image"}/
  #fixedstart.col-sm-2{:style => "display: none;"}
  #nomusic.col-sm-2
    %h5 無音
    %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
    %a{href: '/workloads/new'}
      %img.btn{:onmouseout => "this.src='https://ruffnote.com/attachments/24926'", :onmouseover => "this.src='https://ruffnote.com/attachments/24927'", :src => "https://ruffnote.com/attachments/24926", :style => "border: none;", :type => "image"}/

