= render 'shared/button_tweet'
#nc
  #header
    %div{:style => "background: #231809; width: 100%;"}
      %img{:src => "https://ruffnote.com/attachments/24932"}/
    %br/

  #login
    - if session[:user_id]
      = link_to 'ログアウト', '/logout'
    - else
      = link_to 'ログイン', '/auth/facebook'

  #news.row
    %a{:href => "#whatis"} 245cloudとは？（はじめての方はこちら
    %br/
  #otukare.row{:style => "display: none;"}
    %div{:style => "background: #c9e9f4; width: 100%;"}
      %img{:src => "https://ruffnote.com/attachments/24933"}/
    %br/
    %br/
    %span{:style => "color: #9e7a41;"}
      24分おつかれさまでした！5分間だけ見られる交換日記に是非参加してください☆
      %br/
    %br/
  #ad.row
  #contents.row
    .countdown2
      .countdown
    %br/
  #start_buttons.row
    #random.col-sm-2.col-sm-offset-4
      %h5 おまかせ
      %img.jacket{:src => "https://ruffnote.com/attachments/24982"}/
      %input#start.btn{:onmouseout => "this.src='https://ruffnote.com/attachments/24919'", :onmouseover => "this.src='https://ruffnote.com/attachments/24920'", :src => "https://ruffnote.com/attachments/24919", :style => "border: none;", :type => "image"}/
    #fixedstart.col-sm-2{:style => "display: none;"}
    #nomusic.col-sm-2
      %h5 無音
      %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
      %input#start.btn{:onmouseout => "this.src='https://ruffnote.com/attachments/24926'", :onmouseover => "this.src='https://ruffnote.com/attachments/24927'", :src => "https://ruffnote.com/attachments/24926", :style => "border: none;", :type => "image"}/
  #doing_title.row{:style => "display: none;"}
    %h2.status
      %img{:src => "https://ruffnote.com/attachments/24939"}/
  #doing.row
  #chatting_title.row
  #chatting.row
  #done.row{:style => "display: block;"}
    %h2.status
      %img{:src => "https://ruffnote.com/attachments/24937"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/null"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 5/4（66097回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/1"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 5/4（66096回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/1"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 5/4（66095回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/null"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 5/4（66098回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/279"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/20（null回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Capsule 縛り Mix
        %span
          %a{:href => "/musics/900"}
            %img.jacket{:src => "https://i.ytimg.com/vi/z7RycwGuhUM/3.jpg"}/
        %span
          %a{:href => "/178"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:z7RycwGuhUM"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Aphex Twin - Selected Ambient Works 85-92
        %span
          %a{:href => "/musics/872"}
            %img.jacket{:src => "https://i.ytimg.com/vi/Xw5AiRVqfqk/3.jpg"}/
        %span
          %a{:href => "/178"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:Xw5AiRVqfqk"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Combat!
        %span
          %a{:href => "/musics/804"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000049601813-i7rvv0-large.jpg"}/
        %span
          %a{:href => "/152"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:921692"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Aphex Twin - Selected Ambient Works 85-92
        %span
          %a{:href => "/musics/872"}
            %img.jacket{:src => "https://i.ytimg.com/vi/Xw5AiRVqfqk/3.jpg"}/
        %span
          %a{:href => "/342"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:Xw5AiRVqfqk"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Aphex Twin - Selected Ambient Works 85-92
        %span
          %a{:href => "/musics/872"}
            %img.jacket{:src => "https://i.ytimg.com/vi/Xw5AiRVqfqk/3.jpg"}/
        %span
          %a{:href => "/342"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:Xw5AiRVqfqk"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 SHAKALABBITS 作業用BGM
        %span
          %a{:href => "/musics/2452"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=12952623"}/
        %span
          %a{:href => "/200"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm12952623"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Plaid Mix 01 2014
        %span
          %a{:href => "/musics/2454"}
            %img.jacket{:src => "https://i.ytimg.com/vi/YV9wQHclo_8/3.jpg"}/
        %span
          %a{:href => "/342"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:YV9wQHclo_8"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 SHAKALABBITS 作業用BGM
        %span
          %a{:href => "/musics/2452"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=12952623"}/
        %span
          %a{:href => "/200"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm12952623"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 ☆作業用BGM☆春ソングDJMIX〜だから私は桜をみたくなったんだ〜
        %span
          %a{:href => "/musics/786"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000073409698-m9keer-large.jpg"}/
        %span
          %a{:href => "/336"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:139371163"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 JUDY AND MARY MIX
        %span
          %a{:href => "/musics/607"}
            %img.jacket{:src => "https://ruffnote.com/attachments/24985"}/
        %span
          %a{:href => "/178"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:1579716"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 JUDY AND MARY MIX
        %span
          %a{:href => "/musics/607"}
            %img.jacket{:src => "https://ruffnote.com/attachments/24985"}/
        %span
          %a{:href => "/336"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:1579716"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 JUDY AND MARY MIX
        %span
          %a{:href => "/musics/607"}
            %img.jacket{:src => "https://ruffnote.com/attachments/24985"}/
        %span
          %a{:href => "/178"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:1579716"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 YUKI vs きゃりーぱみゅぱみゅ（Kyary pamyu pamyu）MIX
        %span
          %a{:href => "/musics/256"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000072563635-kxqv1n-large.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:137877747"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 サカナクションＭＩＸ
        %span
          %a{:href => "/musics/306"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000070348495-6dsv0g-large.jpg"}/
        %span
          %a{:href => "/336"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:133858096"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 YUKI vs きゃりーぱみゅぱみゅ（Kyary pamyu pamyu）MIX
        %span
          %a{:href => "/musics/256"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000072563635-kxqv1n-large.jpg"}/
        %span
          %a{:href => "/333"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:137877747"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 {HD FULL SHOW} Bruno Mars - BBC Radio 1 LIVE 1080p
        %span
          %a{:href => "/musics/2451"}
            %img.jacket{:src => "https://i.ytimg.com/vi/bbvzUxzMnvw/3.jpg"}/
        %span
          %a{:href => "/51"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:bbvzUxzMnvw"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 anime house mix
        %span
          %a{:href => "/musics/2444"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=12379767"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm12379767"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Capsule 縛り Mix
        %span
          %a{:href => "/musics/900"}
            %img.jacket{:src => "https://i.ytimg.com/vi/z7RycwGuhUM/3.jpg"}/
        %span
          %a{:href => "/6"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:z7RycwGuhUM"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 アニソンMIX for ANISON INDEX!! 〜これが私のインデックス〜
        %span
          %a{:href => "/musics/111"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000091202463-l4kdd5-large.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:168007004"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 サカナクションＭＩＸ
        %span
          %a{:href => "/musics/306"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000070348495-6dsv0g-large.jpg"}/
        %span
          %a{:href => "/6"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:133858096"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 きのこ帝国 (Kinoko Teikoku) - フェイクワールドワンダーランド (Fake World Wonderland) [Full Album]
        %span
          %a{:href => "/musics/2449"}
            %img.jacket{:src => "https://i.ytimg.com/vi/ZadEvIFJhX4/3.jpg"}/
        %span
          %a{:href => "/59"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:ZadEvIFJhX4"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 SPECIAL OTHERS メドレー
        %span
          %a{:href => "/musics/2396"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=2265267"}/
        %span
          %a{:href => "/1"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm2265267"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 ☆作業用BGM☆春ソングDJMIX〜だから私は桜をみたくなったんだ〜
        %span
          %a{:href => "/musics/786"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000073409698-m9keer-large.jpg"}/
        %span
          %a{:href => "/279"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:139371163"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 【超作業用BGM】全てのFINAL FANTASY作品からの戦闘曲集
        %span
          %a{:href => "/musics/2266"}
            %img.jacket{:src => "https://i.ytimg.com/vi/pzQSeH5G43Y/3.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:pzQSeH5G43Y"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 サカナクションＭＩＸ
        %span
          %a{:href => "/musics/306"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000070348495-6dsv0g-large.jpg"}/
        %span
          %a{:href => "/59"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:133858096"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 anime house mix
        %span
          %a{:href => "/musics/2444"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=12379767"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm12379767"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Utada Hikaru Best Works Mix
        %span
          %a{:href => "/musics/1457"}
            %img.jacket{:src => "http://images-mix.netdna-ssl.com/w/100/h/100/q/85/upload/images/extaudio/939d0e6b-9196-4ce4-b7f7-65769ae07c9e.png"}/
        %span
          %a{:href => "/59"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#mixcloud:/Mr_KY/utada-hikaru-best-work-mix/"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 Capsule 縛り Mix
        %span
          %a{:href => "/musics/900"}
            %img.jacket{:src => "https://i.ytimg.com/vi/z7RycwGuhUM/3.jpg"}/
        %span
          %a{:href => "/6"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:z7RycwGuhUM"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 anime house mix
        %span
          %a{:href => "/musics/2444"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=12379767"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm12379767"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 【ロマンシングサガ】 全バトル曲アレンジメドレー / Romancing SaGa - Battle BGM Arrenge Medley
        %span
          %a{:href => "/musics/820"}
            %img.jacket{:src => "https://i.ytimg.com/vi/0UXMsZp0bP8/3.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#youtube:0UXMsZp0bP8"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 ☆作業用BGM☆春ソングDJMIX〜だから私は桜をみたくなったんだ〜
        %span
          %a{:href => "/musics/786"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000073409698-m9keer-large.jpg"}/
        %span
          %a{:href => "/59"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:139371163"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 ☆作業用BGM☆春ソングDJMIX〜だから私は桜をみたくなったんだ〜
        %span
          %a{:href => "/musics/786"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000073409698-m9keer-large.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:139371163"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 anime house mix
        %span
          %a{:href => "/musics/2444"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=12379767"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm12379767"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 BABYMETALxMIXXX
        %span
          %a{:href => "/musics/1381"}
            %img.jacket{:src => "http://images-mix.netdna-ssl.com/w/100/h/100/q/85/upload/images/extaudio/b924b0a0-1833-4d71-96e3-9229337225e9.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#mixcloud:/MxOxS/babymetalxmixxx/"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 SPECIAL OTHERS メドレー
        %span
          %a{:href => "/musics/2396"}
            %img.jacket{:src => "http://tn-skr4.smilevideo.jp/smile?i=2265267"}/
        %span
          %a{:href => "/59"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#nicovideo:sm2265267"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 ☆作業用BGM☆春ソングDJMIX〜だから私は桜をみたくなったんだ〜
        %span
          %a{:href => "/musics/786"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000073409698-m9keer-large.jpg"}/
        %span
          %a{:href => "/361"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:139371163"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 ☆作業用BGM☆春ソングDJMIX〜だから私は桜をみたくなったんだ〜
        %span
          %a{:href => "/musics/786"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000073409698-m9keer-large.jpg"}/
        %span
          %a{:href => "/3"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:139371163"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 BODY COMBAT 61
        %span
          %a{:href => "/musics/2158"}
            %img.jacket{:src => "http://images-mix.netdna-ssl.com/w/100/h/100/q/85/upload/images/extaudio/8403d1d3-c41e-4a3b-a0cd-5b2e0b9570b4.jpg"}/
        %span
          %a{:href => "/152"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#mixcloud:/flexsportsclub/body-combat-61/"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/152"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/359"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/359"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 無音
        %span
          %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
        %span
          %a{:href => "/359"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#"}
            %img{:src => "https://ruffnote.com/attachments/24926"}/
    .workload.col-sm-2{:style => "min-height: 180px;"}
      .inborder{:style => "border: 4px solid rgb(234, 219, 160); border-radius: 18px; margin: 10px 5px 3px; padding: 0px 0px 6px; color: rgb(178, 178, 178); background: rgb(255, 255, 255);"}
        %h5 超A-Kmix
        %span
          %a{:href => "/musics/799"}
            %img.jacket{:src => "https://i1.sndcdn.com/artworks-000025189257-p16wzd-large.jpg"}/
        %span
          %a{:href => "/279"}
            %img.icon.img-thumbnail{:src => "https://ruffnote.com/attachments/24311"}/
        .disp 4/19（null回目）
        %div
          %a.fixed_start{:href => "#soundcloud:499716"}
            %img{:src => "https://ruffnote.com/attachments/24921"}/
  #you_title.row
  #you.row
  #ranking_title.row
    %h2.status
      %img{:src => "https://ruffnote.com/attachments/24940"}/
  #ranking.row
    %h1 245cloudヘビーローテーションランキング
    %hr
    -@musics_users.each do |mu|
      %h2=mu.total
      - music = mu.music
      - user = mu.user
      = link_to image_tag(user.icon), "/#{user.id}"
      ="=>"
      = link_to image_tag(music.icon2), "/musics/#{music.id}"
      %hr
    %hr

  #8tracks_title.row
    %h2.status
      %img{:src => "https://ruffnote.com/attachments/24935"}/
  #8tracks.row
    .col-lg-2{:style => "min-height: 200px;"}
      %a{:href => "http://8tracks.com/mixes/5302932", :target => "_blank"} ゆったりした音楽
      (00:00)
      %br/
      %br/
      %img{:src => "http://images.8tracks.com/cover/i/002/853/428/IMG_8363-8151.jpg?rect=256,0,1536,1536&q=98&fm=jpg&fit=max&w=100&h=100", :width => "100px"}/
      %a.fixed_start{:href => "#8tracks:5302932"}
        %img{:src => "https://ruffnote.com/attachments/24353"}/
      / <a href="#" class='add_playlist btn btn-default'>追加</a>
    .col-lg-2{:style => "min-height: 200px;"}
      %a{:href => "http://8tracks.com/mixes/5014459", :target => "_blank"} attrip週末リミックス
      (36:40)
      %br/
      %br/
      %img{:src => "http://images.8tracks.com/cover/i/002/706/010/tumblr_nbepr0cS4f1rx1zuco1_1280-4711.jpg?rect=0,90,540,540&q=98&fm=jpg&fit=max&w=100&h=100", :width => "100px"}/
      %a.fixed_start{:href => "#8tracks:5014459"}
        %img{:src => "https://ruffnote.com/attachments/24353"}/
      / <a href="#" class='add_playlist btn btn-default'>追加</a>
    .col-lg-2{:style => "min-height: 200px;"}
      %a{:href => "http://8tracks.com/mixes/93096", :target => "_blank"} attrip's  2010 mix　HIPHOP
      (17:28)
      %br/
      %br/
      %img{:src => "http://images.8tracks.com/cover/i/000/865/472/26656.original-9322.jpg?rect=0,35,450,450&q=98&fm=jpg&fit=max&w=100&h=100", :width => "100px"}/
      %a.fixed_start{:href => "#8tracks:93096"}
        %img{:src => "https://ruffnote.com/attachments/24353"}/
      / <a href="#" class='add_playlist btn btn-default'>追加</a>
  #search_title.row
    %h2.status
      %img{:src => "https://ruffnote.com/attachments/24941"}/
  #search.row
    %input#track{:placeholder => "ここにアーティスト名や曲名を入れてね"}/
    #tracks
  #playing.row
  #complete.row
  #select_rooms.row
  #rooms_title.row
  #rooms.row
  #whatis_title.row
    %h2.status
      %img{:src => "https://ruffnote.com/attachments/24942"}/
  #whatis{:style => "text-align: center;"}
    %div{:style => "position: relative; width: 735px; height: 483px; margin: 0px auto; background: url(https://ruffnote.com/attachments/24501);"}
      %img{:src => "https://ruffnote.com/attachments/24377", :style => "position: absolute; right: 69px; top: 36px;"}/
      %img{:src => "https://ruffnote.com/attachments/24388", :style => "position: absolute; right: 70px; top: 88px;"}/
      %img{:src => "https://ruffnote.com/attachments/24361", :style => "position: absolute; right: 70px; top: 138px;"}/
  #footer.row
    %a{:href => "#header"} ▲トップへ戻る
    %a{:href => "http://245cloud.com/?alert=true"}
      %br/
      %hr/
      = succeed "\u{7d42}\u{4e86}\u{6642}\u{306b}\u{5f37}\u{5236}\u{7684}\u{306b}245cloud\u{3092}\u{8868}\u{793a}\u{3055}\u{305b}\u{308b}\u{30e2}\u{30fc}\u{30c9}\u{ff08}\u{3b2}\u{ff09}" do
        %br/
      %br/
    %a{:href => "http://245cloud.com/?ad=true"} 【感想聞きたい】休憩中に広告動画が流れるバージョン
    %br/
    %br/
    %br/
    %a{:href => "http://tech.blog.hisaju.org/2014/12/12/tool/"} 【嬉しい】スタートアップチラ見せ♡ナイトで紹介してもらいました☆
    %br/
    %a{:href => "https://gist.github.com/ytone/6fd15b40405fb79248aa", :target => "_blank"} 【Webエンジニア向け】ブックマークレット
    %br/
    %br/
    %a{:href => "http://blog.j-caw.co.jp/147"} 「ポモドーロ・テクニック」について
    %br/
    %a{:href => "https://ruffnote.com/pandeiro245/245cloud/13478", :target => "_blank"} プロジェクト協力者募集中！
    %br/
    %a{:href => "http://attrip.jp/138267/", :target => "_blank"} 200万PVあるattrip掲載
    %br/
    %a{:href => "https://www.facebook.com/groups/1507907746131907/", :target => "_blank"} facebookグループ
    %br/
    %br/
    = succeed "---\u{2606}SPECIAL" do
      %a{:href => "https://ruffnote.com/pandeiro245/245cloud/issues/new", :target => "_blank"}
        ご要望
        %br/
        %br/
    %br/
    %a{:href => "http://musicisvfr.com/free/se/clock01.html", :target => "_blank"}
      はとぽっぽ効果音
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
    %br/
  #hatopoppo.row{:style => "width: 1px;"}
    %audio#hato{:src => "/audio/Zihou01-4.mp3"}
#fb-root
#selectRoomModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "selectRoomModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#selectRoomModalLabel.modal-title その他の部屋選択
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} キャンセル
%button#selectRoomButton.btn.btn-primary.btn-lg{"data-target" => "#selectRoomModal", "data-toggle" => "modal", :style => "display: none;", :type => "button"}


#fb-root
= render 'shared/modal'

