%h1 245cloudヘビーローテーションランキング
%hr
-@musics_users.each do |mu|
  - music = mu.music
  - user = mu.user
  = link_to image_tag(user.icon), "/#{user.id}"
  ="=>#{mu.total}"
  = link_to image_tag(music.icon2), "/musics/#{music.id}"
  %hr

%hr
