#otukare.row
  %div{:style => "background: #c9e9f4; width: 100%;"}
    %img{:src => "https://ruffnote.com/attachments/24933"}/
  %br/
  %br/
  %span{:style => "color: #9e7a41;"}
    24分おつかれさまでした！5分間だけ見られる交換日記に是非参加してください☆
    %br/
    = link_to '5分休憩を終えて次へ行く', '/workloads/cancel'
  %br/
#ad.row
#contents.row
  .countdown2
    .countdown
= render 'shared/online'      
#complete.row
#select_rooms.row
  %h2.status
    %img{:src => "https://ruffnote.com/attachments/24967"}/
  .imgs
    - @rooms.each do |room|
      %a{href: "/rooms/#{room.id}"}
        %img.col-sm-2.room_icon.room_link.on{"data-off" => room.image_off, "data-on" => room.image_on, :src => room.image_off}
    %a{href: "/rooms/999"}
      %img.col-sm-2.room_icon.room_link.on{"data-off" => 'https://ruffnote.com/attachments/24854', "data-on" => 'https://ruffnote.com/attachments/24855', :src => 'https://ruffnote.com/attachments/24854'}

#rooms_title.row
  %h2.status
    %img{:src => "https://ruffnote.com/attachments/24968"}/
#rooms.row
  #room_default.room
    = form_for @new_comment do |f|
      = f.text_field :content, placeholder: "「#{@room.title2}」に書き込む", class: 'create_comment'
      = f.hidden_field :room_id, value: @room.id2
    %table.table.comments
      %tbody
        - @room.comments.each do |comment|
          %tr
            %td
              %a{href: "/#{comment.user_id}"}
                %img.icon{src: comment.user.icon}
                %br
                = comment.user.name
            %td
            %td=comment.content
            %td=time comment
#hatopoppo.row{:style => "width: 1px;"}
  %audio#hato{:src => "/audio/Zihou01-4.mp3"}
#remain{'data-remain' => @remain}
