= link_to 'TOP', :root
%hr
= image_tag base64(@music.icon)
%h1=@music.title
= link_to image_tag('https://ruffnote.com/attachments/24921'), "/##{@music.key}"
%hr
- @music.users.each do |workload|
  - user = workload.user
  = link_to facebook_image_tag(user, 100), "/#{user.facebook_id}"

