= link_to 'TOP', :root
%hr
= image_tag @music.artwork_url
%h1=@music.title
= link_to image_tag('https://ruffnote.com/attachments/24921'), "/##{@music.key}"
%hr
- @music.users.each do |workload|
  = link_to profile_image_tag(workload, 100), "/#{workload.user_id}"

