= link_to 'TOP', :root
%hr
= image_tag @music.artwork_url
%h1=@music.title
= link_to image_tag('https://ruffnote.com/attachments/24921'), "/##{@music.key}"
%hr
- @music.users.each do |workload|
  = link_to facebook_image_tag(workload, 100), "/#{workload.facebook_id}"

!="<div class=\"fb-comments\" data-href=\"http://245cloud.com/#{params[:provider]}/#{@key}\" data-numposts=\"5\" width=\"100%\"></div>"
